.container{
  
    display:flex;
    flex-direction: column;
    gap:25px;
    align-items: center;
    justify-content: center;
    background-color:#1c75bc;
    font-family: "alexandria";
    color:white;
    font-size:30px;
    margin-left:300px;
    margin-right:300px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
small{
    color:#0f3554;
    font-size:15px;
}
div{
  display:flex;
    flex-direction: column;  
}

input{
    font-family: "alexandria";
    padding-left:20px;
    padding-right:20px;
    height:35px;
    width:400px;
    border-radius:40px;
    border-color: white;
    font-size:20px;
    border-style: solid;
}
button{
    color:#000000;
    font-size:30px;
    border-radius:40px;
    font-family: "alexandria";
    border:none;
    height:50px;
    width:350px;
    cursor: pointer;
}

h2{
    text-align: center;
}


input.ng-touched.ng-invalid {
  border-color: #e74c3c;
  color:red;
}
 
input.ng-touched.ng-valid {
  border-color: #2ecc71;        
}